main {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.standOut {
  width: 25vw;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--text-accent-color);
  margin-bottom: 20px;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

label {
  grid-column-start: 0;
  grid-column-end: 3;
  ;
}

input {
  margin-bottom: 20px;
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  align-self: center;
  margin: 10px 20px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--nav-text-color);
}

button:hover {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

button:disabled {
  background-color: var(--text-color);
  color: var(--shadow-color);
}