<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="userEmail">

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="userFirstName">

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="userLastName">

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="userPassword">

  <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>
<button [routerLink]="['/login']">Login</button>