<main>
  <form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <div class='error' *ngIf="editForm.controls.name.invalid && (editForm.controls.name.dirty || editForm.controls.name.touched); else validName">
      <p *ngIf="editForm.controls.name.errors?.['required']">Name is required</p>
    </div>
    <ng-template #validName><label for="email">Name</label></ng-template>
    <input type="text" id="name" formControlName="name" [value]="currentMenace.name">
  
    <label for="color">Colour</label>
    <select id="color" formControlName="color">
      <option [selected]="currentMenace.color === 'red'" ngValue="red">Red</option>
      <option [selected]="currentMenace.color === 'orange'" ngValue="orange">Orange</option>
      <option [selected]="currentMenace.color === 'gold'" ngValue="gold">Yellow</option>
      <option [selected]="currentMenace.color === 'green'" ngValue="green">Green</option>
      <option [selected]="currentMenace.color === 'blue'" ngValue="blue">Blue</option>
      <option [selected]="currentMenace.color === 'indigo'" ngValue="indigo">Indigo</option>
      <option [selected]="currentMenace.color === 'violet'" ngValue="violet">Violet</option>
    </select>
  
    <div class="incentives" formGroupName="incentives">
      <div class="incentives-title">
        <h3>Incentives </h3>
        <app-info-svg [description]="'Incentives'"></app-info-svg>
      </div>
      <label for="win">Win</label>
      <input type="number" id="win" formControlName="win" [value]="currentMenace.incentives.win">
  
      <label for="draw">Draw</label>
      <input type="number" id="draw" formControlName="draw" [value]="currentMenace.incentives.draw">
  
      <label for="lose">Loss</label>
      <input type="number" id="lose" formControlName="lose" [value]="currentMenace.incentives.lose">
    </div>
  
    <div class="buttons">
      <button [disabled]="!editForm.valid" [routerLink]="['/train', id]">Edit</button>
    </div>
  
  </form>
</main>