<div class="container">
  <div class="standOut">
    <h1>t<span>A</span>ct<span>I</span>c-toe</h1>
    <p>t<span>A</span>ct<span>I</span>c-toe lets you create your very own <span>MENACE</span>! You can train your mini-ai by playing against them or making use of the handy Fast Play option.
    Watch them improve and help them when they plateau by modifying their incentives, rewarding or punishing them more as they gain experience.
    Finally, you can pit your <span>MENACE</span> against your friends creations in BATTLE!</p>
  </div>
  <div class="standOut">
    <h1>About <span>M</span>.<span>E</span>.<span>N</span>.<span>A</span>.<span>C</span>.<span>E</span></h1>
    <h2><span>M</span>atchbox <span>E</span>ducable <span>N</span>oughts <span>A</span>nd <span>C</span>rosses <span>E</span>ngine</h2>
    <p><img src="/assets/Mscroggs-MENACE.jpg" alt="">In 1961, AI researcher Donald Michie designed <a href="https://en.wikipedia.org/wiki/Matchbox_Educable_Noughts_and_Crosses_Engine">MENACE</a>, a mechanical computer made from 304 matchboxes. It was able to play noughts and crosses and refine its strategy through <a href="https://en.wikipedia.org/wiki/Reinforcement_learning">reinforcement learning</a>.
    After every match, <span>MENACE</span> would review the moves played and every corresponding matchbox would be updated by predefined incentives. 
    In this way, <span>MENACE</span> eliminated losing strategies until it was able to consistently draw and sometimes beat (inexperienced) players. Great resources to learn more about <span>MENACE</span> are: </p> <ul>
      <li><a href="https://www.youtube.com/watch?v=R9c-_neaxeU&t=4s&ab_channel=Stand-upMaths">MENACE: the pile of matchboxes which can learn</a></li>
      <li><a href="https://www.mscroggs.co.uk/blog/19">Matthew Scrogg's recreation of MENACE</a></li>
    </ul>
  </div>
  
</div>