main {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.aiOptions{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  color: var(--text-accent-color);
  display:inline;
}

.actionSel{
  border-radius: 10px;
  padding:10px;
}
.active{
  background-color: var(--nav-bg-color);
}

.actionSel:hover {
  cursor: pointer;
}


.standOut {
  width: 25vw;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var(--text-accent-color);
  margin-bottom: 10px;
  margin-top: 10px;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.incentives {
  display: flex;
  flex-direction: column;
}

.incentives-title{
  display: flex;
  align-items: center;
}
label {
  grid-column-start: 0;
  grid-column-end: 3;
  ;
}

input, select {
  margin-bottom: 20px;
  padding: 5px;
}

.exceeded{
  font-size: 20px;
}