<body class="container">
  <div *ngIf ="haveAI === true; else elseBlock" class="connect standOut">
   <app-create-battle (optionCreate)="refreshCreate($event)" [socketService]="socketService" *ngIf="createFlag"></app-create-battle>
   <app-search-battle (optionCreate)="refreshCreate($event)" [socketService]="socketService" *ngIf="!createFlag"></app-search-battle>
  </div>
  <div class="yourAi standOut">
    <h2>Your Ai</h2>
    <app-ai-battle-list></app-ai-battle-list>
  </div>

  <ng-template #elseBlock> 
    <div class="connect standOut">
      <h2>No AIs Available to Battle</h2>
    </div>
  </ng-template>
</body>