main {
  width: 100vw;
  height: 10vh;
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px var(--shadow-color);
}

h1 {
  padding: 20px;
  cursor: pointer;
}

h1 span {
  color: var(--text-accent-color);
}

h1:hover span {
  color: var(--nav-text-color);
}

h3 {
  padding: 10px;
  cursor: pointer;
}

h1:hover, h3:hover {
  color: var(--text-accent-color)
}