.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  color: var(--text-accent-color);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  width: 200px;
  height: 60px;
}


app-robot-svg {
  width: 50px;
  height: 50px;
}