<div class="standOut">
  <div class="deletion" (click)="deleteAi()">
    <div class="bar1" ></div>
    <div class="bar2" ></div>
  </div>
  <div class="title">
    <app-robot-svg [fillColor]="ai.color"></app-robot-svg>
    <h2>{{ai.name}}</h2>
  </div>
  <p>Games played: <span>{{ai.results.win + ai.results.draw + ai.results.lose}}</span></p>
  <div class="buttons">
    <button id="train-button" [routerLink]="['/train', ai.id]">Train</button>
    <button [routerLink]="['/edit', ai.id]">Edit</button> <!-- TODO: Implement route guard for stats and train guarding the ids -->
  </div>
</div>
