/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {

  overflow: hidden;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
}

:root {
  --primary-bg-color:  #fffafbff;
  --nav-bg-color: #7de2d1ff;
  --nav-text-color: #fffafbff;
  --text-accent-color: #339989ff;
  --button-color: #339989ff;
  --text-color: #2b2c28ff; 
  --shadow-color: rgb(181, 184, 171); 
  --error: #c83f3f;
}

.error {
  color: var(--error)
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 10px 20px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--nav-text-color);
}

button:hover {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

button:disabled {
  background-color: var(--text-color);
  color: var(--shadow-color);
}

button:active {
  background-color: var(--text-color);
  color: var(--shadow-color);
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -12.5px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: var(--shadow-color);
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--text-color);
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--button-color);
}

.checkbox input:checked ~ .checkmark:hover {
  background-color: var(--nav-bg-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--primary-bg-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: var(--shadow-color);
  outline: none;
  border-radius: 5px;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--button-color);
  cursor: pointer;
  transition: .2s;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb:hover {
  width: 25px;
  height: 25px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--button-color);
  cursor: pointer;
  transition: .2s;
  border-radius: 5px;
}

.slider::-moz-range-thumb:hover {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}